.city-bg {
  background: url('../images/login_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  color: white;
}

h1.logo-name {
  font-size: 120px;
  
}

.search-result {
}

#carousel-place {
  margin: -1px -15px 0px -15px;
}

.carousel-inner .item img {
  width: 100%;
}

.carousel-inner {
  height: 500px;
}

.place-resume .user-profile {
  margin-top: 15px;
}

.place-resume p {
  margin-bottom: 0px;
}

.technology-badges {
  text-align: center;
  margin-bottom: 20px;
}

.technology-badge-item {
  margin: 5px;
}

.technology-badge-item.item-gray {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.technology-badge-item.item-gray:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.technology-more {
  display: inline-block;
  background-color: #eee;
  vertical-align: middle;
  margin: 5px;
  width: 45px;
  height: 45px;
}

.technology-more a {
  display: block;
  text-align: center;
  margin-top: 12px;
  width: 100%;
  height: 100%;
}

.leave-message textarea {
  height: 150px;
}

.list-price {
  text-align: center;
  display: block;
  padding-right: 20px;
}

@media (min-width: 992px) {
  .place-resume h1 {
    text-align: left;
  }

  .technology-badges {
    text-align: left;
    margin-bottom: 0px;
  }

  .list-price {
    text-align: right;
  }
}

.gallery img {
  width: 150px;
  height: 150px;
  padding-bottom: 4px;
}

.upload {
    padding: 0px 20px 30px;
}

.upload h5 {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 5px;
}

.upload form {
  border: 0;
}

.m-b-xll {
  margin-bottom: 50px;
}

.technology-badge-item.item-small {
  width: 25px;
  height: 25px;
}

.img-list {
  text-align: center;
}

.img-list img {
  display: inline;
}

.carousel-inner.small {
  height: 200px;
  width: 300px;
}

.p-l-sm {
  padding-left: 10px;
}

.p-l-md {
  padding-left: 20px;
}

.user-places {
  padding: 5px 20px 20px 20px;
}

.user-places h4, h5{
  font-weight: 100;
}
